LOCATE COMP "clk_ext" SITE "A7";
IOBUF PORT  "clk_ext" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "C3";
IOBUF PORT  "led[0]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[1]" SITE "D3";
IOBUF PORT  "led[1]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[2]" SITE "C4";
IOBUF PORT  "led[2]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[3]" SITE "D4";
IOBUF PORT  "led[3]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[4]" SITE "C5";
IOBUF PORT  "led[4]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[5]" SITE "D5";
IOBUF PORT  "led[5]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[6]" SITE "C6";
IOBUF PORT  "led[6]" IO_TYPE=LVCMOS25;

LOCATE COMP "led[7]" SITE "D6";
IOBUF PORT  "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "btn[0]" SITE "B4";
IOBUF PORT  "btn[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[1]" SITE "A5";
IOBUF PORT  "btn[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[2]" SITE "B5";
IOBUF PORT  "btn[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[3]" SITE "A6";
IOBUF PORT  "btn[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "btn[4]" SITE "B6";
IOBUF PORT  "btn[4]" IO_TYPE=LVCMOS25;


LOCATE COMP "interconnect[0]" SITE "A15";
IOBUF PORT  "interconnect[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "interconnect[1]" SITE "B15";
IOBUF PORT  "interconnect[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "interconnect[2]" SITE "B16";
IOBUF PORT  "interconnect[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "interconnect[3]" SITE "C15";
IOBUF PORT  "interconnect[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "interconnect[4]" SITE "C16";
IOBUF PORT  "interconnect[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "interconnect[5]" SITE "D16";
IOBUF PORT  "interconnect[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "interconnect[6]" SITE "E15";
IOBUF PORT  "interconnect[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "interconnect[7]" SITE "E16";
IOBUF PORT  "interconnect[7]" IO_TYPE=LVCMOS25;
